.bg-primary {
    background: $primary;
}
.bg-danger {
    background: $danger;
}
.bg-secondary {
    background: $secondary;
}
.bg-white {
    background: $white;
}
.bg-dark {
    background: $dark;
}
