.d-flex {
    display: flex;
}
.flex-column { 
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.align-items-baseline {
    align-items: baseline;
}
.flex-wrap {
    flex-wrap: wrap;
}
@media (max-width: 992px) {
    .d-md-flex {
        display: flex;
    }
    .flex-md-column { 
        flex-direction: column;
    }
    .align-items-md-center {
        align-items: center;
    }
}
@media (max-width: 768px) {
    .flex-sm-column { 
        flex-direction: column;
    }
}