$primary: #650300;
$secondary: #FBF2F2;
$success: #707070;
$info: #DEE2E6;
$danger: #AA0601;
$warning: #FFD306;
$dark: #000000;
$light: #00000029;
$white: #FFFFFF;
$brown-100: #B75929;
$brown-200: #5F3E2D;
$grey: #DCDCDC;
$grey-100: #00000020;
$grey-500: #495057;
$grey-600: #555555;
$spacer: 4px;